/* -----------------------------------area responsive------------------------------------------ */
/* nice  */
/* tidak ada masalah  */
/* untuk laptop fullscreen  */
@media only screen and (max-width:1366px),
only screen and(max-height: 768px) {
    .contentslide,.contentslide2,.contentslide3 {
        position: relative;
        top: -5050px;
    }
    /* .containerdot {
        display: block;
        text-align: center;
        position: relative;
        bottom: 165px;
    } */
    /* .containertwo{
        height: 345vh;
    } */


}
/* nice  */
/* lanjutan untuk laptop kebawah  */
@media(max-width:1300px) {
    

    video.bg {
        position: absolute;

    }
    /* image bagian 3  */

    .explore img.outearth {
        width: 750px;
    }

    .explore img.marsland {
        width: 710px;
    }

    /* bagian 3 tempat ke-1 */
    .explore p.p1 {
       left: 880px;
    }

    .explore p.isi1 {
        left: 880px;
    }
    /* isi untuk slide  */
    .isislide3, .isislide2 {    
        margin-right: 870px;
    }
    /* disini untuk part 2  */
    .bgfullsuite img.stargif{
        top: 45px;
    }
    /* footer */
    /* .bottom-footer{
        top: -155px;
    } */
}
/* nice  */
@media(max-width:1265px) {
    /* isi slide  */
    .isislide2,.isislide3 {
        margin-right: 854px;
    }
    nav ul li a img.spacex {
        left: 1025px;
    }

    nav ul li a img.nasa {
        left: 950px;
    }

    nav {
        margin-left: 145px;
    }

    .black {
        position: relative;
        top: -110px;
    }

    .explore p.isi1 {
        margin-right: 50px;
    }

    .explore p.isi2 {
        margin-right: 850px;
    }

    .containertwo .fullsuite p {
        margin-right: 50px;
    }
    .prevnext {
        display: flex;
        position: relative;
        top: 5px;
        right: 65px;
    }
}

@media(max-width:1215px) {

    nav ul li a img.spacex {
        left: 1000px;
    }

    nav ul li a img.nasa {
        left: 920px;
    }

    .containertwo h2.h21 {
        left: 720px;
    }

    .containertwo .fullsuite p {
        left: 720px;
    }

    .explore img.outearth {
        width: 700px;
    }

    .explore p.p1 {
        left: 815px;
    }

    .explore p.isi1 {
        left: 815px;
        margin-right: 90px;
    }

    .explore img.marsland {
        width: 650px;
    }

    .isislide2,.isislide3 {
        margin-right: 715px;
        top: 5325px;
    }
    .contentslide, .contentslide2, .contentslide3 {
        position: relative;
        top: -5120px;
    }

    footer h2 {
        margin-right: 850px;
    }

}
/* nice   */
@media(max-width:1175px) {
    .table,.table2,.table3 {
        margin-right: 700px;
    }

    .parallaxjudul,.parallaxjudul2,.parallaxjudul3 {
        font-size: 36px;
    }

    .containertwo h3 {
        font-size: 30px;
    }

    /* .containertwo h2.h21 {
        font-size: 25px;
    } */
    .explore h2 {
        font-size: 30px;
    }

    .explore p.isi1 {
        font-size: 16px;
    }

    .explore p.isi2 {
        font-size: 16px;
    }

    h2.crew-dragon {
        font-size: 30px;
    }

    h2.astonaut-crew-dragon {
        font-size: 35px;
    }

    .landing h2 {
        font-size: 40px;
    }

    nav ul li a {
        font-size: 15px;
    }

}
/* nice  */
@media(max-width:1150px) {
    .astronaut img {
        width: 650px;
    }

    nav ul li a img.nasa {
        left: 840px;
    }

    nav ul li a img.spacex {
        margin-left: -60px;
    }

    nav {
        margin-left: 85px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .explore img.marsland {
        width: 585px;
    }

    .explore img.outearth {
        width: 640px;
    }

    .explore p.isi1 {
        left: 760px;
    }

    .explore p.p1 {
        left: 760px;
    }
}

@media(max-width:1100px) {
    nav {
        margin-left: 70px;
    }

    .responsive-nasa-spacex {
        margin-left: 115px;
        position: relative;

    }

    footer {
        /* overflow: hidden; */
    }

    .containertwo .fullsuite img.suite {
        width: 165px;
        right: 790px;
    }

    footer h2 {
        margin-right: 715px;
    }

    .containertwo .fullsuite img.helmet {
        right: 525px;
    }

    .containertwo .fullsuite p {
        left: 635px;
        margin-right: 105px;
    }

    .containertwo h2.h21 {
        left: 635px;
    }

    nav ul li a img.nasa {
        left: 780px;
    }

    nav ul li a img.spacex {
        margin-left: -120px;
    }

    .explore p.isi1 {
        margin-right: 30px;
    }

    .explore p.isi2 {
        margin-right: 705px;
    }

    section.rocket .right-block .floating-graphics img {
        height: 100px;

    }

    section.rocket .right-block .floating-graphics2 {
        margin-right: -100px;
    }

    section.rocket .right-block .floating-graphics2 img {
        height: 100px;
        margin-right: 0px;
        overflow-x: hidden;
    }

    section.rocket p {
        font-size: 14px;
    }

    .fa-duotone {
        top: -155px;
    }

    .parallaxreview,.parallaxreview2,.parallaxreview3 {
        font-size: 23px;
    }



    .explore img.marsland {
        width: 545px;

    }

    .explore img.outearth {
        width: 605px;
    }

    /* untuk h1 content  */
    .content h1 {

        font-size: 53px;

    }

    .content p {
        font-size: 25px;
    }

    .content a {
        top: 130px;
    }

    .astronaut img {
        left: 35%;
    }

    .parallaxjudul,.parallaxjudul2.parallaxjudul3 {
        font-size: 35px;
    }

    .bottom-footer {
        position: relative;
        top: -105px;
    }
    .table,.table2,.table3 {

        margin-right: 615px;
    }
}
/* tablet dan laptop  */
@media(max-width:1024px) {
    nav ul li a img.nasa {
        left: 780px;
        width: 95px;
    }

    nav ul li a img.spacex {
        margin-left: -130px;
        width: 145px;
        margin-top: -25px;
    }

    .explore img.marsland {
        left: 450px;
    }

    .explore p.isi1 {
        left: 690px;
    }

    .explore p.p1 {
        left: 690px;
    }

    .explore p.isi2 {
        margin-right: 650px;
    }

    .containertwo .fullsuite p {
        left: 600px;
    }

    .containertwo h2.h21 {
        left: 600px;
    }

    section.rocket .right-block .floating-graphics2 {
        position: sticky;
        float: right;
        top: 270px;
        margin-right: -100px;
    }

    section.rocket .right-block .floating-graphics2 img {
        height: 100px;
        margin-right: 0px;
        overflow-x: hidden;
    }

    .fa-duotone {
        top: -125px;
    }

    .parallaxbg video {
        top: 60px;
    }

    .parallaxreview {
        top: 5205px;
    }

    .table,.table2,.table3 {
        margin-right: 525px;
    }



    .isislide2 {
        margin-right: 580px;
    }

    .isislide3 {
        margin-right: 600px;
    }

    /* footer h3 {
        left: 18%;
    } */

    footer a {
        left: 16.5%;
    }

    .responsive-nasa-spacex {
        margin-left: 15px;
        position: relative;
        left: 40px;
    }

    .crew-3 .text {
        left: 0px;
        position: relative;
    }

    .crew-3 h2 {
        font-size: 30px;
    }

    .explore p.p2 {
        margin-right: 675px;
    }

}

@media(max-width:800px) {
      
    .containerdot {
        display: block;
        bottom: 210px;
        top: 247px;
        z-index: 999;
    }

    .containerspacex {
        overflow-x: auto;
    }

    .isi-bumi {
        position: relative;
        left: 20px;
        top: 425px;
    }

    .isi-mars {
        position: relative;
        left: 20px;
        top: 425px;
    }

    .crew-3 .text {
        left: 0px;
    }

    .crew-3 h3 {
        top: 360px;
        /* left: -50px; */
    }

    .crew-3 h2 {
        top: 375px;
        /* left: -50px; */
    }

    nav {
        margin-left: 0px;
    }

    .astronaut img {
        left: 18%;
    }

    /* .container{
        height: 155vh;
    } */

    .btn-primary {
        margin-left: -110px;
    }

    nav ul li a img.nasa {
        left: 60px;
        top: 695px;
        width: 120px;
    }

    nav ul li a img.spacex {
        margin-left: -940px;
        width: 195px;
        margin-top: 735px;
    }

    .isi-fullsuite {
        position: relative;
        left: -175px;
        top: 280px;
    }

    .containertwo h3 {
        top: 40px;
    }

    .bgfullsuite img.stargif {
        /* height: 80vh; */
    }

    .containertwo h3 {
        font-size: 25px;
    }

    .containertwo .fullsuite img.suite {
        width: 132px;
        right: 500px;
        top: 130px;
    }

    .containertwo .fullsuite img.helmet {
        right: 365px;
        width: 100px;
    }

    .cursor {
        display: inline-block;
    }

    .containertwo h2.h21 {
        /* font-size: 20px; */
        left: 195px;
        margin: 0px -10px;
        text-align: left;
    }

    .containertwo .fullsuite p {
        left: 105px;
        text-align: left;
        margin: 0px 80px;
    }

    .explore p.isi1 {
        left: -20px;
        font-size: 15px;
        top: 1125px;
        margin-right: 200px;
    }

    .explore p.isi2 {
        left: -20px;
        font-size: 15px;
        top: 1825px;
        margin-right: 150px;
    }

    .explore p.p1 {
        left: -20px;
        font-size: 20px;
    }

    .explore p.p2 {
        left: -20px;
        font-size: 20px;
        margin-right: 415px;
    }

    .explore h2 {
        left: 40px;
    }

    .explore h2.h22 {
        font-size: 25px;
    }

    .containertwo {
        height: 425vh;
    }

    .explore img.marsland {
        left: 40px;
    }

    h2.crew-dragon {
        font-size: 30px;
    }

    /* bagian rocket  */
    section.rocket .block h1 {
        font-size: 25px;
    }

    section.rocket p {
        font-size: 13px;
    }

    section.rocket .block.capacity h6 {
        font-size: 23px;
    }

    .table,.table2,.table3 {
        margin-right: 175px;
    }
    .parallaxjudul,.parallaxjudul2,.parallaxjudul3 {
        font-size: 30px;
    }

    .parallaxreview, .parallaxreview2, .parallaxreview3 {
        font-size: 20px;
    }


    .isislide2 , .isislide3 {
        /* font-size: 14px; */
        margin-right: 300px
    }


    /* }reponsive  */
    .parallaxbg img,.parallaxbg2 img.parallaxreponsive,.parallaxbg3 img.parallaxreponsive {
        height: auto;
        width: 100%;
        background-position: center;
        align-items: center;
        background-size: cover;
        background-color: none;
        display: block;
        position: absolute;
        top: -100px;
    }

    .parallaxbg video,.parallaxbg2 img.parallax,.parallaxbg3 img.parallax {
        display: none;
    }


    .contentslide,.contentslide2,.contentslide3 {
        top: -4800px;
    }

    img.image1 {
        display: none;
    }

    /* reponsive  */
    img.image1reponsive {

        background-position: center;
        position: relative;
        top: 230px;
        width: 100%;
        height: auto;
        display: block;
    }

    img.image2 {
        display: none;
    }

    /* reponsive  */
    img.image2reponsive {
        background-position: center;
        position: relative;
        top: 320px;
        width: 100%;
        height: auto;
        display: block;
    }

    .landing {
        height: 440vh;
    }

    .astronauts-container {
        display: inline-block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        flex-wrap: wrap;
        top: 40vh;
    }

    .astronaut-portrait a span {
        display: block;
        text-align: center;
    }

    .astronaut-portrait img {
        width: 35%;
        height: auto;
        position: relative;
        top: 200px;
        /* left: 225px; */
    }

    h2.astonaut-crew-dragon {
        top: 410px;
    }

    /* terakhir */
    footer h2 {
        margin-right: 480px;
        font-size: 30px;
    }

    .crew-3 {
        top: -280px;
        position: relative;
    }

    footer {
        top: 30vh;
    }

    footer a {
        left: 3.5%;
    }

    /* footer h3 {
        left: 7%;
    } */

    .responsive-nasa-spacex {
        margin-left: -450px;
        position: relative;
        left: 225px;
    }
}
/* nice  */
@media(max-width:768px) {
    .cursor {
        display: none;
    }

    footer h3 {
        /* left: 20%; */
        font-size: 25px;
    }

    footer a {
        font-size: 14px;
    }

    footer h4 {
        font-size: 14px;
    }

    footer {
        height: 90vh;
    }

    .bottom-footer {
        position: relative;
        top: -230px;
    }

    .crew-3 h2 {
        font-size: 30px;
    }

    .crew-3 h3 {
        font-size: 20px;
    }

    footer h2 {
        font-size: 25px;
    }

    img.copyimage {
        left: 250px;
        top: -10px;
    }

    img.nasa-footer {
        left: 58%;
        width: 70px;
        height: auto;
        top: 680px;
    }

    img.spacex-footer {
        width: 150px;
        left: 65%;
        width: 110px;
        top: 700px;
    }

    .astronaut img {
        left: 13%;
    }

    nav ul li a p {
        position: relative;
        left: 20px;
        top: 5px;
        font-size: 12px;
    }
    /* peringatan  */
    div,p,a,section,img,video,h1,h2,h3,h4,h5,h6,ul,li,span,table,tr,td,footer{
        display: none;
    }
    b{
        display: block;
    }

}
/* nice */
@media(max-width:640px) {

    .explore img.outearth {
        width: 500px;
    }

    .explore img.marsland {
        left: 30px;
        width: 510px;
        top: 1750px;
    }

    .logo img {
        width: 190px;
        cursor: pointer;
        margin: 10px 0px;
        z-index: 99;
    }

    .bgfullsuite img.stargif {
        /* height: 70vh; */
    }

    .containertwo h3 {
        font-size: 30px;
    }

    .containertwo .fullsuite img.suite {
        width: 100px;
        right: 445px;
        top: 130px;
    }

    .containertwo .fullsuite img.helmet {
        right: 315px;
        width: 80px;
    }

    .astronaut img {
        left: -8%;
        width: 550px;
    }
    nav ul li a img.nasa {
        left: 90px;
        top: 54px;
        width: 100px;
    }

    nav ul li a img.spacex {
        margin-left: -905px;
        width: 180px;
        margin-top: -100px;
    }

    section.strip h3 {
        font-size: 20px;
    }

    .content h1 {
        font-size: 46px;
    }

    .content a {
        top: 120px;
    }

    .containertwo .fullsuite p {
        margin-top: 5px;
        left: 110px;
        line-height: 1.5;
    }

    .explore h2.h22 {
        font-size: 30px;
        left: 30px;
    }

    .explore p.p1 {
        font-size: 26px;
    }

    .explore p.isi1 {
        font-size: 16px;
    }

    .explore p.p2 {
        font-size: 26px;
        margin-right: 115px;
    }

    .explore p.isi2 {
        font-size: 16px;
    }

    h2.crew-dragon {
        font-size: 30px;
    }

    section.rocket .block h1 {
        font-size: 20px;
    }

    section.rocket .block .with-underline {
        font-size: 20px;
    }

    section.rocket .block.payload h2 {
        font-size: 20px;
    }

    /* table  */
    .table , .table2, .table3{
        margin-right: 0px;
    }

    .parallaxreview, .parallaxreview2, .parallaxreview3 {
        font-size: 16px;
    }

    .isislide2 ,.isislide3 {
        margin-right: 220px;
    }

    .astronaut-portrait a span {
        font-size: 13.5px;
    }

    /* h2.astonaut-crew-dragon {
        font-size: 25px;
    } */
    .landing h2 {
        font-size: 30px;
    }

    .landing p {
        font-size: 14.5px;
    }

    .flex {
        font-size: 15px;
    }

    .crew-3 h3 {
        font-size: 20px;
        top: 400px;
    }

    .crew-3 h2 {
        font-size: 30px;
        top: 410px;
    }

    .btn {
        font-size: 13px;
    }

    footer h3 {
        /* left: 19%; */
        font-size: 20px;
    }

    footer h2 {
        /* font-size: 20px; */
        margin-right: 405px;
    }

    footer {
        height: 80vh;
    }

    .bottom-footer {
        top: -280px;
    }

    footer a {
        font-size: 13px;
    }

    img.copyimage {
        left: 230px;
        width: 40px;
    }

    img.nasa-footer {
        left: 58.5%;
        width: 55px;
        top: 685px;
    }

    img.spacex-footer {
        left: 64%;
        width: 100px;
        top: 700px;
    }

    .menu-toggle {
        display: flex;
    }

    nav {
        background: linear-gradient(rgb(0 0 0), #040a188c);
        position: absolute;
        top: 100px;
        left: 0px;
        z-index: 2;
        right: 0px;
        display: block;
        width: 100%;
        z-index: 799;
        overflow-x: hidden;
    }

    nav ul {
        display: flex;
        flex-direction: column;

    }

    /* nav itu untuk mengatur list link */
    nav ul .reponsivenav {
        display: block;
        margin-top: 13px;
        height: 10px;
        margin-bottom: 10px;
    }

    /* ini untuk mengatur warna tulisan menu */
    nav ul li a p {
        color: rgb(234 234 235);
        text-align: end;
        font-size: 15px;
        position: static;
    }

    #menuList {
        overflow: scroll;
        transition: all 0.6s ease-out;
    }

    .menu-toggle {
        display: flex;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    ::-webkit-scrollbar:hover {
        width: 0px;
        height: 0px;
    }

    .fa-bars-sort {
        display: flex;
        color: #ebebeb;
        margin-left: 360px;
        font-size: 30px;
        z-index: 999;
    }
    .allparallax{
        position: relative;
        bottom: -130px;
    }
}
/* nice  */
@media(max-width:600px) {
    .fa-bars-sort {
        margin-left: 315px;
        font-size: 30px;
    }

    nav ul li a img.spacex {
        margin-top: -125px;

    }

    .bgfullsuite img.stargif {
        /* height: 60vh; */
        /* tunggu  */
    }

    .containertwo .fullsuite img.suite {
        width: 95px;
        right: 445px;
        top: 125px;
    }

    .containertwo .fullsuite img.helmet {
        right: 315px;
        width: 70px;
    }

    .responsive-nasa-spacex {
        margin-left: -425px;
        left: 225px;
    }

    .landing {
        height: 390vh;
    }

    footer h2 {
        font-size: 23px;
        margin-right: 370px;
    }
    
}

@media(max-width:575px) {

    /* .menu-toggle {
        left: -20px;
    } */
    .fa-bars-sort {
        margin-left: 280px;
        font-size: 30px;
    }

    .containertwo .fullsuite p {
        margin: 0px 30px 0px 80px;
    }

    .isislide2 {
        margin-right: 180px;
    }

    .isislide3 {
        margin-right: 170px;
    }

    .containertwo .fullsuite img.suite {
        width: 95px;
        right: 370px;
        top: 120px;
    }

    .containertwo .fullsuite img.helmet {
        right: 264px;
        width: 70px;
    }

    footer a {
        left: 19%;
        top: 650px;
        margin-right: -200px;

    }

    .responsive-nasa-spacex {
        margin-left: -535px;
        left: 110px;
    }

    .landing {
        height: 365vh;
    }

    .landing p {
        font-size: 13.5px;
    }

    nav ul li a img.spacex {
        margin-top: -95px;
    }

    .contentslide,.contentslide2,.contentslide3 {
        left: -25px;
    }

    .containertwo .fullsuite p {
        margin: 0px -88px 0px 75px;
    }

    .explore h2.h22 {
        font-size: 30px;
        left: 30px;
        text-align: left;
    }

    /* rocket  */
    section.rocket .right-block .block.capacity {
        padding-top: 120px;
    }

    section.rocket .left-block {
        left: 20px;
        position: relative;
    }

    section.rocket p {
        font-size: 13px;
        margin-right: -100px;
    }

    /* strip rocket  */
    /* s payload  */
    section.rocket .rocket-body span.active:nth-child(1):after {
        width: 125px;
    }

    section.rocket .rocket-body span:nth-child(1):after {
        bottom: 25px;
        left: 85%;
    }

    /* s dragon  */
    section.rocket .rocket-body span.active:nth-child(2):after {
        width: 105px;
    }

    section.rocket .rocket-body span:nth-child(2):after {
        bottom: 75%;
        right: 100%;
    }

    /* s stage  */
    section.rocket .rocket-body span.active:nth-child(3):after {
        width: 120px;
    }

    section.rocket .rocket-body span:nth-child(3):after {
        bottom: 50%;
        right: 90%;
    }

    /* s nine  */
    section.rocket .rocket-body span.active:nth-child(3):before {
        width: 160px;
    }

    section.rocket .rocket-body span:nth-child(3):before {
        bottom: 30%;
        left: 90%;
    }

    /* float kanan nya */
    section.rocket .right-block .floating-graphics {
        margin-right: -175px;
    }

    section.rocket .right-block .floating-graphics2 img {
        margin-right: -75px;
    }

}

@media(max-width:550px) {
    .prevnext {
        display: none;
    }

    .astronaut-portrait img {
        width: 70%;
    }

    .explore h2.h22 {
        font-size: 30px;
        left: 0px;
        text-align: left;
    }

    .content {
        left: 50px;

    }

    .explore img.marsland {
        left: 0px;
        width: 440px;
    }

    .explore img.outearth {
        width: 435px;
    }

    .isi-bumi {
        position: relative;
        left: 20px;
        /* top: 295px; */
        top: 370px;
    }

    .isi-mars {
        position: relative;
        left: 20px;
        top: 370px;
    }

    .fa-duotone {
        top: -240px;
    }

    footer h2 {
        margin-right: 340px;
    }

    .isi-fullsuite {
        top: 165px;
    }

    .explore {
        position: relative;
        top: -200px;
    }

    .containertwo {
        height: 340vh;
    }

    .isislide2 {
        margin-right: 60px;
    }

    .isislide3 {
        margin-right: 95px;
    }
}
/* wait  */
@media(max-width:515px) {

    /* .menu-toggle {
        left: -60px;
    } */
    footer h2 {
        /* font-size: 19px; */
        margin-right: 300px;
    }

    footer h3 {
        /* left: 19%; */
        font-size: 19px;
    }

    .crew-3 h3 {
        font-size: 18px;
        top: 445px;
    }

    .crew-3 h2 {
        font-size: 23px;
        top: 445px;
    }

    .containertwo h2.h21 {
        margin: 0px -70px 0px -10px;

    }

    .containertwo .fullsuite p {
        margin: 0px -10px 0px 80px;
    }

    .explore h2 {
        left: -0px;
    }

    .isi-fullsuite {
        left: -190px;
        /* top: 280px; */
    }

    .content {
        left: 25px;
    }

}

@media(max-width:535px) {

    /* .menu-toggle {
        left: -60px;
    } */
    .fa-bars-sort {
        margin-left: 250px;
        font-size: 30px;
    }

    .responsive-nasa-spacex {
        margin-left: -535px;
        left: 120px;
    }

}

@media(max-width:500px) {

    /* .menu-toggle {
        left: -60px;
    } */
    .content h1 {
        font-size: 40px;
    }

    .fa-bars-sort {
        margin-left: 220px;
        font-size: 30px;
    }
    

}

@media(max-width:480px) {
    .explore h2.h22 {
        font-size: 30px;
        left: 0px;
        text-align: inherit;
    }
/* 
    .isislide2 {
        margin-right: 0px;
    } */

    .isi-fullsuite {
        top: 120px;
    }

    .fa-bars-sort {
        margin-left: 195px;
        font-size: 30px;
    }

    .astronaut img {
        left: -25%;
    }

    .containertwo .fullsuite img.suite {
        width: 70px;
        right: 330px;
        top: 125px;
    }

    .containertwo .fullsuite img.helmet {
        right: 220px;
        width: 55px;
        top: 120px;
    }

    .containertwo .fullsuite p {
        margin: 0px -55px 0px 80px;
    }

    .explore p.isi1 {
        margin-right: 120px;
    }

    .explore img.outearth {
        width: 380px;
    }

    .explore img.marsland {
        left: 0px;
        width: 395px;
    }

    .responsive-nasa-spacex {
        margin-left: -535px;
        left: 130px;
    }

    .astronaut-portrait a span {
        font-size: 11.5px;
    }

    .bgfullsuite img.stargif {
        /* height: 52vh; */
        /* tunggu  */
    }

    h2.astonaut-crew-dragon {
        font-size: 30px;
    }

    .landing h2 {
        font-size: 25px;
    }



}

@media(max-width:450px) {
    .explore p.isi2 {
        margin-right: 150px;
    }

    .isislide2 {
        margin-right: 0px;
    }

    .isislide3 {
        margin-right: 0px;
    }

    .containertwo .fullsuite p {
        margin: 0px -150px 0px 80px;
    }

    .fa-bars-sort {
        margin-left: 175px;
    }

    .astronaut img {
        width: 535px;
    }

    footer h2 {
        left: 15px;
        margin-right: 270px;
    }

    .isi-bumi {
        position: relative;
        left: 20px;
        top: 270px;
    }


}
@media(max-width:450px) {
    .fa-bars-sort {
        margin-left: 150px;
    }

    .astronaut img {
        left: -25%;
        width: 500px;
    }

    .containertwo h2.h21 {
        margin: 0px -120px 0px -10px;
    }

    .containertwo .fullsuite p {
        margin: 0px -95px 0px 80px;
    }

    .explore h2.h22 {
        text-align: left;
    }

    .explore img.outearth {
        width: 340px;
    }

    .explore img.marsland {
        width: 350px;
    }

    .isi-bumi {
        top: 250px;
    }

    .isi-bumi {
        top: 250px;
    }

    /* .isislide2 {
        margin-right: 0px;
    } */

    .landing {
        height: 320vh;
    }

    /* .crew-3 h2 {
        font-size: 16px;
    } */
    footer h2 {
        top: 50px;
    }

    .bottom-footer {
        top: -280px;
        left: -37px;
    }

    .containertwo h2.h21 {
        /* font-size: 20px; */
        left: 200px;
        margin: 0px -50px 0px -10px;
        text-align: left;
    }

    .explore h2.h22 {
        left: 0px;
    }

    /* .table2 {
        top: 6135px;
    } */

    .fa-duotone {
        top: -150px;
    }

    footer {
        height: 62.5vh;
    }

}

@media(max-width:400px) {

    .fa-bars-sort {
        margin-left: 135px;
        margin-left: 135px;
    }

    .content h1 {
        font-size: 38px;
    }

    .containertwo h2.h21 {
        margin: 0px -65px 0px -10px;
        text-align: left;
    }

    .containertwo .fullsuite p {
        margin: 0px -155px 0px 80px;
    }

    .explore p.isi1 {
        margin-right: 70px;
    }

    .explore p.isi2 {
        margin-right: 110px;
    }

    .isi-mars {
        position: relative;
        left: 20px;
        top: 300px;
    }

    footer h2 {
        left: 15px;
        margin-right: 225px;
    }

    .containertwo .fullsuite img.suite {
        width: 58px;
        right: 235px;
        top: 135px;
    }

    .crew-3 h2 {
        font-size: 21px;
        top: 445px;
    }

    .responsive-nasa-spacex {
        margin-left: -535px;
        left: 145px;
    }

    .astronaut img {
        left: -35%;
    }

    .parallaxbg img,.parallaxbg2 img.parallaxreponsive,.parallaxbg3 img.parallaxreponsive {
        top: 85px;
    }

    /* .container {
        height: 125vh;
    } */
    nav ul li a img.nasa {
        left: 90px;
        top: 54px;
        width: 85px;
    }

    nav ul li a img.spacex {
        width: 160px;
    }

    .astronauts-container {
        top: 30vh;
    }

    h2.astonaut-crew-dragon {
        top: 350px;
    }

    /* .table3 {
        top: 6920px;
    }

    .table2 {
        top: 6190px;
    } */


}

@media(max-width:375px) {
    .parallaxjudul {
        font-size: 28px;
        margin-right: -20px;
    }

    .containertwo h2.h21 {
        margin: 0px -100px 0px -10px;
        text-align: left;
    }

    .explore img.marsland {
        width: 335px;
    }

    .explore img.outearth {
        width: 330px;
    }

    .containertwo .fullsuite p {
        margin: 0px -175px 0px 80px;
    }

    .fa-bars-sort {
        margin-left: 110px;
    }

    /* .container {
        height: 120vh;
    } */
    .content {
        left: 15px;
    }

    .content a {
        top: 90px;
    }

    .content h1 {
        font-size: 36px;
    }

    .btn-primary {
        margin-left: 0px;
    }

    .containertwo h3 {
        font-size: 28px;
        position: absolute;
        left: 15px;
    }

    .crew-3 img {
        top: 80vh;
    }

    .responsive-nasa-spacex {
        margin-left: -605px;
        left: 190px;
    }

    footer h3 {
        /* left: 19%; */
        /* text-align: left; */
        font-size: 19px;
    }

    h2.astonaut-crew-dragon {
        top: 350px;
        left: 25px;
        margin-right: 45px;
    }

    .bgfullsuite img.stargif {
        /* height: 38vh; */
        /* tunggu  */
    }

}

@media(max-width:355px) {
    .astronaut img {
        left: -43%;
    }

    .bgfullsuite img.stargif {
        /* height: 42vh; */
        /* tunggu */
    }

    .containertwo .fullsuite img.suite {
        width: 70px;
        top: 59px;
        right: 260px;
    }

    .containertwo h2.h21 {
        margin: 0px -115px 0px -10px;
        text-align: left;
    }

    .isi-fullsuite {
        top: 40px;
    }

    .explore p.p2 {
        margin-right: 115px;
    }

    .explore img.outearth {
        width: 310px;
    }

    .explore img.marsland {
        width: 310px;
    }

    .fa-bars-sort {
        margin-left: 100px;
    }

    .logo img {
        width: 160px;
    }

    .containertwo h3 {
        top: 15px;
    }

    .containertwo .fullsuite img.helmet {
        right: 173px;
        top: 88px;
    }
/* tunggu */
    /* .parallaxjudul {
        font-size: 26px;
        margin-right: -87px;
    } */

    .containertwo .fullsuite img.suite {
        width: 55px;
        right: 217px;
        top: 100px;
    }


}

/* khusus iphone x */
@media screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {


    .landing {
        height: 245vh;
    }

    .bgfullsuite img.stargif {
        /* height: 41vh; */
        /* tunggu  */
    }

    .containertwo {
        height: 290vh;
    }

    .containertwo h2.h21 {
        margin: 0px -115px 0px -10px;
        text-align: left;
    }

    /* .container {
            height: 102vh;
        } */
    .explore p.p2 {
        margin-right: 115px;
    }

    .containerdot {
        display: block;
        top: 90px;
    }

    /* .slide1 {
        position: relative;
        top: 200px;
    } */
}