
/* khusus iphone x */
@media screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {


    .landing {
        height: 245vh;
    }

    .containertwo {
        height: 290vh;
    }

    .containertwo h2.h21 {
        margin: 0px -115px 0px -10px;
        text-align: left;
    }

    /* .container {
            height: 102vh;
        } */
    .explore p.p2 {
        margin-right: 115px;
    }

    .containerdot {
        display: block;
        top: 90px;
    }

    /* .slide1 {
        position: relative;
        top: 200px;
    } */
}