/* landasan */
.landing {
    /* height:300vh;
	*/
    position: relative;
    /* top:25vh;
	*/
    left: 0px;
    background-color: #000000;
    background-position: center;
    background-size: cover;
}

.text-landing {
    position: relative;
    background-color: #000;
}

.landing h2 {
    color: #fff;
    font-size: 2.8125em;
    position: relative;
    font-family: "DinBold";
    /* top:100px;
	*/
    text-align: center;
    line-height: 1.2;
    padding: 40px 0px 0px 0px;
}

.landing p {
    text-align: center;
    color: #fff;
    font-size: 1em;
    position: relative;
    font-family: "Din";
    /* top:120px;
	*/
    line-height: 1.6;
    max-width: 40%;
    margin: 20px auto 15px;
}

.flex {
    text-align: center;
    margin: 20px auto 15px;
    position: relative;
    text-align: center;
    font-size: 1.0625em;
    font-family: "DinBold";
}

a.fot {
    color: #868686;
    background: none !important;
}

/* reposnive area  */
img.image1,
img.image2 {
    background-position: center;
    position: relative;
    /* top:230px;
	*/
    width: 100%;
    height: auto;
    display: block;

}

img#image1,
img#image2 {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* reponsive landing*/
img.image1reponsive,
img.image2reponsive {
    display: none;
}

@media(max-width:768px) {

    img.image1reponsive,
    img.image2reponsive {
        display: block !important;
        background-position: center;
        position: relative;
        /* top:230px;
	*/
        width: 100%;
        height: auto;
    }

    img.image1,
    img.image2 {
        display: none;
    }

    .landing p {

        max-width: 70%;
    }

}

@media(max-width:600px) {
    .landing p {

        max-width: 90%;
    }
}