/* landasan */
.landing {
	/* height:300vh;
	*/
	position:relative;
	/* top:25vh;
	*/
	left:0px;
	background-color:#000000;
	background-position:center;
	background-size:cover;
}
.text-landing {
	position:relative;
	background-color: #000;
}
.landing h2 {
	color:#fff;
	font-size:2.8125em;
	position:relative;
	font-family:"DinBold";
	/* top:100px;
	*/
	text-align:center;
	line-height:1.2;
	padding:40px 0px 0px 0px;
}
.landing p {
	text-align:center;
	color:#fff;
	font-size:1em;
	position:relative;
	font-family:"Din";
	/* top:120px;
	*/
	line-height:1.6;
	max-width:40%;
	margin:20px auto 15px;
}
.flex {
	text-align:center;
	/* top:155px;
	*/
	margin:20px auto 15px;
	position:relative;
	text-align:center;
	font-size:1.0625em;
	font-family:"DinBold";
}
.flex-eigine a,.parallax3-flex a {
	cursor:pointer;
	font-style:17px;
	text-decoration:none;
	color:white;
}
.flex a:hover,.flex-eigine a:hover,.parallax3-flex a:hover {
	color:#ffffff;
	text-decoration-line:underline;
}

.active-slide{
	color: rgb(255, 255, 255) !important;
}
a.fot{
	color: #868686;
}


/* reposnive area  */
img.image1,img.image2 {
	background-position:center;
	position:relative;
	/* top:230px;
	*/
	width:100%;
	height:auto;
	display:block;

}
img#image1,img#image2 {
	width:100%;
	height:auto;
	max-width: 100%;
}
/* reponsive landing*/
img.image1reponsive,img.image2reponsive {
	display: none;
}

@media(max-width:768px){
    img.image1reponsive,img.image2reponsive {
		display: block !important;
		background-position:center;
	position:relative;
	/* top:230px;
	*/
	width:100%;
	height:auto;
	}
	img.image1,img.image2{
		display: none;
	}
	.landing p {

		max-width: 70%;
	}
	
}
@media(max-width:600px){
	.landing p {

		max-width: 90%;
	}
}

#preloader {

	background: #000000 no-repeat center center;
	background-size: 100%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 9090909090;
	/* background-image: url(images/loadersuper.gif); */
  }
  .center{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  }
  .ring{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	animation: ring 2s linear infinite;
  }
  @keyframes ring {
	0%{
	  transform: rotate(0deg);
	  box-shadow: 1px 5px 2px #120e4b;
	}
	25%{
	  transform: rotate(90deg);
	  box-shadow: 1px 5px 2px #ffffff;
	}
	50%{
	  transform: rotate(180deg);
	  box-shadow: 1px 5px 2px #0456c8;
	}
	75%{
	  transform: rotate(270deg);
	  box-shadow: 1px 5px 2px #b30000;
	}
	100%{
	  transform: rotate(360deg);
	  box-shadow: 1px 5px 2px #2e2e2e;
	}
  }
  .ring:before{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(255,255,255,.3);
  }
  span.spanloader{
	color: #737373;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 200px;
	animation: text 3s ease-in-out infinite;
	font-family: "DinBold";
  }
  @keyframes text {
	50%{
	  color: black;
	}
  }