
/* Space x */
:root {
	--dark:#ffffff;
	--pure:#070b1e;
	--gray:#1d1d1d;
	--mild: #b9b8b8;
}
h2.crew-dragon {
	font-weight:700;
	font-family:"DinBold";
	color:#ffffff;
	font-size: 2.5em;
	position:relative;
	/* bottom:-80px; */
	top: 0;
	text-align:center;
	text-transform:uppercase;
	background-color:black;
	height:25vh;
	z-index: 998;
	padding: 40px 0px 0px 0px;
}

/* pengatur page 5 sampai footer  */

.containerspacex {
	width:1460px;
	max-width:100%;
	margin:0 auto;
	font-family:"Din";
	color:rgb(255,255,255);
	background-color:#000000;
	position:relative;
	top:-95px;
	touch-action:cross-slide-x;
}
.btn {
	padding:8px 30px;
	border:1px solid transparent;
	border-radius:50px;
	outline:none;
	cursor:pointer;
	font-size:1em;
	transition:all .5s ease-in-out;
}
.btn-secondary {
	background:transparent;
	color:#fff;
	border-color:#fff;
	transition:all ease-out 0.01s;
}
.btn-secondary:hover {
	background:var(--pure);
	color:var(--dark);
	border-color:var(--pure);
	transition:all ease-out 0.01s;
}
.btn-primary {
	color:var(--dark);
	background:var(--pure);
}
.btn-primary:hover {
	color:var(--dark);
	background:none;
	border:solid;
	border-width:1px;
}
section.rocket {
	display:grid;
	grid-template-columns:1fr 100px 1fr;
	grid-gap:80px;
	padding:100px 0;
}
section.rocket .rocket-body {
	display:flex;
	flex-direction:column;
	justify-content:center;
	z-index:999;
}
section.rocket .rocket-body span {
	font-size:0;
	position:relative;
}
section.rocket .rocket-body span img {
	width:100%;
}
section.rocket .left-block {
	left:75px;
	position:relative;
}
section.rocket .block {
	width:70%;
}
section.rocket .block h1 {
	font-size:2em;
	font-weight:400;
}
section.rocket .block .with-underline {
	position:relative;
	margin-bottom:38px;
	font-family: "DinBold";
}
section.rocket .block .with-underline:before {
	content:"";
	position:absolute;
	left:0;
	bottom:-12px;
	display:block;
	width:38%;
	height:2px;
	/* background:var(--pure);
	*/
	background-color:#fff;
}
section.rocket .block h1.with-underline:before {
	width:20%;
}
section.rocket p {
	line-height:1.6;
	font-size:1em;
}
section.rocket .block h2 {
	font-weight:400;
	margin-bottom:20px;
}
section.rocket .block.payload {
	padding-top:130px;
}
section.rocket .block.payload h2 {
	padding-left:80px;
	font-family:"DinBold";
}
section.rocket .block.dragon {
	padding-top:120px;
}
section.rocket .block button {
	margin-top:30px;
}
section.rocket .block.composite {
	padding-top:60px;
}
section.rocket .block.first-stage {
	padding-top:60px;
}
section.rocket .block.capacity {
	display:flex;
	align-items:center;
	padding-top:40px;
}
section.rocket .block.capacity>div:first-child {
	margin-right:40px;
}
section.rocket .block.capacity h4 {
	font-size:0.75em;
	font-weight:400;
	margin-bottom:20px;
}
section.rocket .block.capacity h6 {
	font-size: 2.5em;
	font-weight:400;
}
section.rocket .block.capacity h6 small {
	font-size:0.75em;
}
section.rocket .block.second-stage {
	padding-top:60px;
}
section.rocket .right-block .block.capacity {
	padding-top:120px;
}
section.rocket .right-block .block.capacity.single {
	padding-top:40px;
}
section.rocket .right-block .block.engines {
	display:flex;
	justify-content:center;
	padding-top:40px;
}
section.rocket .right-block .block.engines img {
	width:180px;
}
section.rocket .right-block .block.marine {
	padding-top:100px;
	width:70%;
}
section.rocket .right-block .block.marine h2 {
	font-size:1.25em;
	padding-left:100px;
	margin-bottom:26px;
	font-family:"DinBold";
}
section.rocket .right-block .floating-graphics {
	position:sticky;
	float:right;
	top:60px;
	margin-right:20px;
}
section.rocket .right-block .floating-graphics img {
	height:150px;
}
section.rocket .right-block .floating-graphics2 {
	position:sticky;
	float:right;
	top:270px;
	margin-right:-150px;
}
section.rocket .right-block .floating-graphics2 img {
	height: 150px;
}
section.rocket .rocket-body span:after,section.rocket .rocket-body span:nth-child(3):before {
	content:'';
	display:block;
	position:absolute;
	width:0;
	height:2px;
	/* background:var(--pure);
	*/
	transition:width 1s ease-in-out;
	background-color:#fff;
}
section.rocket .rocket-body span:nth-child(1):after {
	bottom:16px;
	left:96%;
}
section.rocket .rocket-body span:nth-child(2):after {
	bottom:62%;
	right:100%;
}
section.rocket .rocket-body span:nth-child(3):after {
	bottom:64%;
	right:90%;
}
section.rocket .rocket-body span:nth-child(3):before {
	bottom:37.5%;
	left:90%;
}
section.rocket .rocket-body span.active:nth-child(1):after {
	width:120px;
}
section.rocket .rocket-body span.active:nth-child(2):after {
	width:180px;
}
section.rocket .rocket-body span.active:nth-child(3):after {
	width:200px;
}
section.rocket .rocket-body span.active:nth-child(3):before {
	width:160px;
}
@keyframes jump {
	50% {
		transform:translateY(-50px);
	}
}
section.rocket .rocket-body span.active:nth-child(1) {
	animation:jump 1s ease-in-out forwards;
}
.containerslide,
.container-egine {
	height:100vh;
	width:100%;
	background:#000;
	position: relative;
}
section.footer-slide {
	background:#000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentslide,.contentslide2,
.contentslide3, .contentslide-eigine{
    width: 50%;
    max-width: 520px;
	position: absolute;
	left: 60px;
}
/* pengantur top saja */
.contentslide{

    top: 10%;

    /* left: 50px; */
}
.contentslide2{
	top: 25%;
}
.contentslide3, .contentslide-eigine {
    top: 15%;
}
/* parallax bg */
.parallax3-flex a:nth-child(2),.parallax3-flex a:nth-child(4),.flex-eigine a:nth-child(2) {
	color:#868686;
}
.parallaxbg,.parallaxbg2,.parallaxbg3,.parallaxbg-eigine {
	width:100%;
	background-position:center;
	align-items:center;
	background-color:#000000;
	z-index:99;
}
.parallaxbg video,.parallaxbg2 img.parallax,.parallaxbg3 img.parallax ,.parallaxbg-eigine img{
	height:auto;
	width:100%;
	background-position:center;
	align-items:center;
	background-size:cover;
	background-color:none;
	position:absolute;
	display: block;
}
/* responsive */
.parallaxbg img,
.parallaxbg2 img.parallaxreponsive,
.parallaxbg3 img.parallaxreponsive,
.parallaxbg-eigine img.parallaxreponsive-eigine {
	display:none;
}
.flex-eigine ,.parallax3-flex{
	margin: 50px 0 30px;
	position:relative;
	font-size:1.0625em;
	font-family:"DinBold";
	/* left:60px; */
	/* top:190px; */
}

.parallaxjudul,.parallaxjudul2,.parallaxjudul3 ,.parallaxjudul-eigine{
	font-family:"DinBold";
	font-size: 46px;
	z-index:99;
	color:#fff;
	position:relative;
	/* top:100px; */
	line-height: 48px;
	/* left:60px; */
	background-color:none;
}

.parallaxreview,.parallaxreview2,.parallaxreview3,.parallaxreview-eigine {
	color:white;
	position:relative;
	font-family:"Din";
	font-size:1.25em;
	font-weight:500;
	text-transform:uppercase;
	/* top:70px; */
	margin: auto auto 10px;
}
.isislide3,.isislide2, .isislide-eigine{
	position:relative;
	font-size:1em;
	/* top:250px; */
	color:#fff;
	/* left:60px; */
	font-family:"Din";
	line-height:1.6;
	margin: 20px 0;
}

.parallaxbg span,.parallaxbg2 span,.parallaxbg3 span,.parallaxbg-eigine span {
	color:#868686;
}
.table {
    margin-top: 30px;
	font-family:"DinBold";
	/* top:170px; */
	position:relative;
	/* left:60px; */
	border-collapse:collapse;
	border-spacing:0;
	background-color:none;
	z-index:99;
	width: 100%;
}
.table2,.table3, .table-eigine {
	margin-top:30px;
	font-family:"DinBold";
	/* top:380px; */
	position:relative;
	/* left:60px; */
	border-collapse:collapse;
	border-spacing:0;
	background-color:none;
	z-index: 99;
    width: 100%;
}

.table-column,.table-column2,.table-column3 ,.table-column-eigine {

	padding:20px 0;
	font-style:normal;
	font-weight:normal;
	line-height:179.69%;
	color:#fff;
	background-color:none;
	border-bottom:1pt solid rgba(255,255,255,.3);
	font:600 14px/18px "Din",Arial,Verdana,sans-serif;
	z-index:99;
}

td:first-child {
	text-align:left;
	font:600 14px/18px "Din",Arial,Verdana,sans-serif;
	z-index:99;
}
td:last-child {
	text-align:right;
	font:600 16px/18px "Din",Arial,Verdana,sans-serif;
	z-index:99;
}

a.\| {
	padding: 0 5px;
}

 
section.control-slide {
    margin: -15px 0;
    position: relative;
} 
/* Next & previous buttons */
.prev,.next {
	cursor:pointer;
	position:relative;
	top:-70px;
	width:auto;
	/* margin:0 auto;
	*/
	/* text-align: center; */
	/* font-size:50px; */
	font-weight:6px;
	color:rgb(255, 255, 255);
	font-weight:bold;
	transition:0.6s ease;
	user-select:none;
	z-index:899;
	display:block;
	text-align:center;
	font-size:  1.875em;
	/* padding: 0 250px; */
	margin: 0 250px;
	/* box-shadow:0 4px 8px 0 rgb(49 49 49 / 89%),0 6px 20px 0 rgb(51 51 51 / 89%); */

}
.prevnext{
	display:flex;
}
.prev i:hover,.next i:hover{
	font-size: 0.95em;
	color:rgb(85, 82, 82);
}
/* The dots/bullets/indicators */
.dot {
	cursor:pointer;
	height:8.5px;
	width:8.5px;
	margin:0 2px;
	background-color:#c0bdbd93;
	border-radius:50%;
	display:inline-block;
	transition:all 0.6s ease-out;
	z-index:999;
}
.containerdot {
	display:flex;
	text-align:center;
	position:relative;
	bottom:95px;
}
.active-slide,.dot:hover {
	color:#ffffff;
	background-color:#ffffff;
	height:10px;
	width: 10px;
}

/* .active-slide- {
    color: white;
} */
a.off {
	color: #868686;
}
a.on {
	color: #ffffff;
}
@media(max-width:1250px){
	.containerslide,
.container-egine {
	height:95vh;
}
.contentslide, .contentslide2, .contentslide3, .contentslide-eigine {

    max-width: 450px;
    /* top: -10%; */

}
/* pengantur top saja */
.contentslide{

    top: 5%;

    /* left: 50px; */
}
.contentslide2{
	top: 20%;
}
.contentslide3, .contentslide-eigine {
    top: 0%;
}
}
@media(max-width:1024px){
	/* pengantur top saja */
	.contentslide, .contentslide2, .contentslide3, .contentslide-eigine {

		max-width: 430px;
		/* top: -10%; */
	
	}
.contentslide{

    top: -10%;

    /* left: 50px; */
}
.contentslide2{
	top: 10%;
}
.contentslide3, .contentslide-eigine {
    top: -15%;
}
}
@media(max-width:960px){
	html{
		overflow-x: hidden;
	}
	.containerslide,
	.container-egine {
		height:180vh;
		
	}
	
	.slide1,.slide2,.slide3,.slide-eigine{
	    display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

	}

	.parallaxbg img,
.parallaxbg2 img.parallaxreponsive,
.parallaxbg3 img.parallaxreponsive,
.parallaxbg-eigine img.parallaxreponsive-eigine {
	display:block !important;
	width: 125%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
}
.parallaxbg video,.parallaxbg2 img.parallax,.parallaxbg3 img.parallax ,.parallaxbg-eigine img{

	display: none !important;
	

}

.contentslide,.contentslide2, .contentslide3, .contentslide-eigine {

    /* padding: 40px 20px; */
    max-width: 90%;
	width: 100%;
	top: 50%;
	left: auto;
	right: auto;

	/* display: flex; */


}
}
@media(max-width:768px){
	.containerslide,
	.container-egine {
		height:175vh;
		
	}
	section.control-slide {
		padding-top: 25px;
		padding-bottom: 50px;
	}
	.contentslide,.contentslide2, .contentslide3, .contentslide-eigine {


		top: 45%;

		/* display: flex; */
	
	
	}
}
@media(max-width:650px){
    .containerslide,
	.container-egine {
		height:160vh;
		
	}
}
@media(max-width:600px){
	
	.prev,.next{
	margin: 0 120px !important;
	}
	.contentslide, .contentslide2, .contentslide3, .contentslide-eigine {
		top: 40%;
		/* display: flex; */
	}
}
@media(max-width:500px){
	.containerslide,
	.container-egine {
		height:130vh;
		
	}
	.contentslide, .contentslide2, .contentslide3, .contentslide-eigine {
		top: 40%;
		/* display: flex; */
	}

	
	section.control-slide {
		padding-top: 100px;

	}
}
@media(max-width:450px){
	.containerslide,
	.container-egine {
		height:90vh;
		
	}
	section.control-slide {
		padding-top: 170px;

	}
	footer{
        padding-top: 200px !important;
    }
	.flex-eigine, .parallax3-flex {

		font-size: 0.875em;

	}
}
@media(max-width:400px){
	.containerslide,
	.container-egine {
		height:100vh;
		
	}
	section.control-slide {
		padding-top: 180px;

	}
	footer{
        padding-top: 250px!important;
    }
}
@media(max-width:1100px) {



    section.rocket .right-block .floating-graphics img {
        height: 100px;

    }

    section.rocket .right-block .floating-graphics2 {
        margin-right: -100px;
    }

    section.rocket .right-block .floating-graphics2 img {
        height: 100px;
        margin-right: 0px;
        overflow-x: hidden;
    }

    section.rocket p {
        font-size: 14px;
    }

    
}

/* tablet dan laptop  */
@media(max-width:1024px) {

    section.rocket .right-block .floating-graphics2 {
        position: sticky;
        float: right;
        top: 270px;
        margin-right: -100px;
    }

    section.rocket .right-block .floating-graphics2 img {
        height: 100px;
        margin-right: 0px;
        /* overflow-x: hidden; */
    }

   
}

@media(max-width:800px) {
	html{overflow-x: hidden;}
	section.rocket {
		overflow-x: auto;
	}
    /* bagian rocket  */
    section.rocket .block h1 {
        font-size: 25px;
    }

    section.rocket p {
        font-size: 13px;
    }

    section.rocket .block.capacity h6 {
        font-size: 23px;
    }

  


}

/* nice */
@media(max-width:640px) {

    section.strip h3 {
        font-size: 20px;
    }

    section.rocket .block h1 {
        font-size: 20px;
    }

    section.rocket .block .with-underline {
        font-size: 20px;
    }

    section.rocket .block.payload h2 {
        font-size: 20px;
    }

}

@media(max-width:575px) {

    /* rocket  */
    section.rocket .right-block .block.capacity {
        padding-top: 120px;
    }

    section.rocket .left-block {
        left: 20px;
        position: relative;
    }

    section.rocket p {
        font-size: 13px;
        margin-right: -100px;
    }

    /* strip rocket  */
    /* s payload  */
    section.rocket .rocket-body span.active:nth-child(1):after {
        width: 125px;
    }

    section.rocket .rocket-body span:nth-child(1):after {
        bottom: 25px;
        left: 85%;
    }

    /* s dragon  */
    section.rocket .rocket-body span.active:nth-child(2):after {
        width: 105px;
    }

    section.rocket .rocket-body span:nth-child(2):after {
        bottom: 75%;
        right: 100%;
    }

    /* s stage  */
    section.rocket .rocket-body span.active:nth-child(3):after {
        width: 120px;
    }

    section.rocket .rocket-body span:nth-child(3):after {
        bottom: 50%;
        right: 90%;
    }

    /* s nine  */
    section.rocket .rocket-body span.active:nth-child(3):before {
        width: 160px;
    }

    section.rocket .rocket-body span:nth-child(3):before {
        bottom: 30%;
        left: 90%;
    }

    /* float kanan nya */
    section.rocket .right-block .floating-graphics {
        margin-right: -175px;
    }

    section.rocket .right-block .floating-graphics2 img {
        margin-right: -75px;
    }

}