.logo{
    width: 18%;

}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 5%;
    /* top: -20px;
    position: absolute; */
}
.nav-link{
   /* margin: 0 auto; */
   list-style: none;
}
.nav-link li{
    
    padding: 0 10px;  
      display: inline-block;
}
.nav-link li a{
   transition: all 0.7s ease-out;
   font-family: "DinBold";
   text-transform: uppercase;
   font-size: 1.125em;
   color: #fff;
   text-decoration: none;
 
}
.nav-link li a:hover,.nav-link li a:focus,.nav-link li a:active{
    animation: glitchText 0.4s linear;

    color:#ffffff;
	border-bottom:solid 1.9px white;
	/* padding:.5px 3px; */
}

@keyframes glitchText {
    0% {
        opacity: 1;
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }

    10% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }

    20% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }

    35% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }

    50% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    60% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    70% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    80% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }

    90% {
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}


.btn__secondary{
    padding: 30px 110px;
    border: 0;
    outline: none;
    /* background-color: var(--black-color); */
    cursor: pointer;
    position: relative;
    font-family: Tomorrow, sans-serif;
    font-size: .85rem;
    text-transform: uppercase;
    /* color: var(--black-color); */
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
 .btn__secondary{
    font-family: "Din";
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;

    /* z-index: 9999999; */
}
  .btn__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
  
  .btn__secondary {
    background-color: var(--red-color);
  }

  .btn__secondary .btn__content {
    background-color: var(--red-color);
    color: var(--white-color);
  }
  
  .btn__label {
    font-size: .70rem;
    position: absolute;
    bottom: -1px;
    right: 8%;
    padding: 0 5px;
    background-color: var(--red-color);
    z-index: 3;
    border-left: 1px solid var(--blue-color);
  }
  
  .btn__secondary .btn__label {
    background-color: var(--white-color);
    color: var(--black-color);
  }
  
  .btn__glitch {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--yellow-color); */
    filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
  }
  
  .btn__secondary .btn__glitch {
    background-color: var(--red-color);
  }
  
  .btn__secondary:hover .btn__glitch,
  .btn__secondary:hover .btn__content::after,
  .btn__secondary:focus .btn__glitch,
  .btn__secondary:focus .btn__content::after {
    display: block;
    animation: glitch-animation 2s linear 0s infinite;
  }
  
  /* secret trick */
  @keyframes glitch-animation {
    0% {
      opacity: 1;
      transform: translateZ(0);
      clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
  
    2% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(-5px);
    }
  
    6% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(5px);
    }
  
    8% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(-5px);
    }
  
    9% {
      clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
      transform: translate(0);
    }
  
    10% {
      clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
      transform: translate3d(5px, 0, 0);
    }
  
    13% {
      clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
      transform: translateZ(0);
    }
  
    13.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    15% {
      clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
      transform: translate3d(5px, 0, 0);
    }
  
    20% {
      clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
      transform: translate3d(-5px, 0, 0);
    }
  
    20.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    25% {
      clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
      transform: translate3d(5px, 0, 0);
    }
  
    30% {
      clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
      transform: translate3d(-5px, 0, 0);
    }
  
    30.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  
    35% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(-5px);
    }
  
    40% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(5px);
    }
  
    45% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(-5px);
    }
  
    50% {
      clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
      transform: translate(0);
    }
  
    55% {
      clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
      transform: translate3d(5px, 0, 0);
    }
  
    60% {
      clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
      transform: translateZ(0);
      opacity: 1;
    }
  
    60.1% {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      opacity: 1;
    }
  
    to {
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      opacity: 1;
    }
  }
  :root {
	--yellow-color: #fcee09; 
	--red-color: #070b1e;
	--black-color: #050a0e;
	--blue-color: #00f0ff;
	--white-color: #ffffff;
  }
  
  



/* Space x */
:root {
	--dark:#ffffff;
	--pure:#070b1e;
	--gray:#1d1d1d;
	--mild: #b9b8b8;
}
h2.crew-dragon {
	font-weight:700;
	font-family:"DinBold";
	color:#ffffff;
	font-size: 2.5em;
	position:relative;
	bottom:-80px;
	text-align:center;
	text-transform:uppercase;
	background-color:black;
	height:35vh;
}

/* pengatur page 5 sampai footer  */

.containerspacex {
	width:1460px;
	max-width:100%;
	margin:0 auto;
	font-family:"Din";
	color:rgb(255,255,255);
	background-color:#000000;
	position:relative;
	top:-95px;
	touch-action:cross-slide-x;
}
.btn {
	padding:8px 30px;
	border:1px solid transparent;
	border-radius:50px;
	outline:none;
	cursor:pointer;
	font-size:1em;
	transition:all .5s ease-in-out;
}
.btn-secondary {
	background:transparent;
	color:#fff;
	border-color:#fff;
	transition:all ease-out 0.01s;
}
.btn-secondary:hover {
	background:var(--pure);
	color:var(--dark);
	border-color:var(--pure);
	transition:all ease-out 0.01s;
}
.btn-primary {
	color:var(--dark);
	background:var(--pure);
}
.btn-primary:hover {
	color:var(--dark);
	background:none;
	border:solid;
	border-width:1px;
}
section.rocket {
	display:grid;
	grid-template-columns:1fr 100px 1fr;
	grid-gap:80px;
	padding:100px 0;
}
section.rocket .rocket-body {
	display:flex;
	flex-direction:column;
	justify-content:center;
	z-index:10;
}
section.rocket .rocket-body span {
	font-size:0;
	position:relative;
}
section.rocket .rocket-body span img {
	width:100%;
}
section.rocket .left-block {
	left:75px;
	position:relative;
}
section.rocket .block {
	width:70%;
}
section.rocket .block h1 {
	font-size:2em;
	font-weight:400;
}
section.rocket .block .with-underline {
	position:relative;
	margin-bottom:38px;
	font-family: "DinBold";
}
section.rocket .block .with-underline:before {
	content:"";
	position:absolute;
	left:0;
	bottom:-12px;
	display:block;
	width:38%;
	height:2px;
	/* background:var(--pure);
	*/
	background-color:#fff;
}
section.rocket .block h1.with-underline:before {
	width:20%;
}
section.rocket p {
	line-height:1.6;
	font-size:1em;
}
section.rocket .block h2 {
	font-weight:400;
	margin-bottom:20px;
}
section.rocket .block.payload {
	padding-top:130px;
}
section.rocket .block.payload h2 {
	padding-left:80px;
	font-family:"DinBold";
}
section.rocket .block.dragon {
	padding-top:120px;
}
section.rocket .block button {
	margin-top:30px;
}
section.rocket .block.composite {
	padding-top:60px;
}
section.rocket .block.first-stage {
	padding-top:60px;
}
section.rocket .block.capacity {
	display:flex;
	align-items:center;
	padding-top:40px;
}
section.rocket .block.capacity>div:first-child {
	margin-right:40px;
}
section.rocket .block.capacity h4 {
	font-size:0.75em;
	font-weight:400;
	margin-bottom:20px;
}
section.rocket .block.capacity h6 {
	font-size: 2.5em;
	font-weight:400;
}
section.rocket .block.capacity h6 small {
	font-size:0.75em;
}
section.rocket .block.second-stage {
	padding-top:60px;
}
section.rocket .right-block .block.capacity {
	padding-top:120px;
}
section.rocket .right-block .block.capacity.single {
	padding-top:40px;
}
section.rocket .right-block .block.engines {
	display:flex;
	justify-content:center;
	padding-top:40px;
}
section.rocket .right-block .block.engines img {
	width:180px;
}
section.rocket .right-block .block.marine {
	padding-top:100px;
	width:70%;
}
section.rocket .right-block .block.marine h2 {
	font-size:1.25em;
	padding-left:100px;
	margin-bottom:26px;
	font-family:"DinBold";
}
section.rocket .right-block .floating-graphics {
	position:sticky;
	float:right;
	top:60px;
	margin-right:20px;
}
section.rocket .right-block .floating-graphics img {
	height:150px;
}
section.rocket .right-block .floating-graphics2 {
	position:sticky;
	float:right;
	top:270px;
	margin-right:-150px;
}
section.rocket .right-block .floating-graphics2 img {
	height: 150px;
}
section.rocket .rocket-body span:after,section.rocket .rocket-body span:nth-child(3):before {
	content:'';
	display:block;
	position:absolute;
	width:0;
	height:2px;
	/* background:var(--pure);
	*/
	transition:width 1s ease-in-out;
	background-color:#fff;
}
section.rocket .rocket-body span:nth-child(1):after {
	bottom:16px;
	left:96%;
}
section.rocket .rocket-body span:nth-child(2):after {
	bottom:62%;
	right:100%;
}
section.rocket .rocket-body span:nth-child(3):after {
	bottom:64%;
	right:90%;
}
section.rocket .rocket-body span:nth-child(3):before {
	bottom:37.5%;
	left:90%;
}
section.rocket .rocket-body span.active:nth-child(1):after {
	width:120px;
}
section.rocket .rocket-body span.active:nth-child(2):after {
	width:180px;
}
section.rocket .rocket-body span.active:nth-child(3):after {
	width:200px;
}
section.rocket .rocket-body span.active:nth-child(3):before {
	width:160px;
}
@keyframes jump {
	50% {
		transform:translateY(-50px);
	}
}
section.rocket .rocket-body span.active:nth-child(1) {
	animation:jump 1s ease-in-out forwards;
}
.containerslide {
	height:100vh;
	width:100%;
	background:#000;
	position: relative;
}
.container-egine {
	height:100vh;
	background-color:#000;
	/* top:1000px;
	*/
	position: relative;
}
section.footer-slide {
	background:#000;
}
.contentslide,.contentslide2,.contentslide3 {
	position: relative;
}
 .contentslide-eigine {
	position: relative;
	/* bottom: 1400px; */
} 


/* parallax bg */
.parallax3-flex a:nth-child(2),.parallax3-flex a:nth-child(4),.flex-eigine a:nth-child(2) {
	color:#868686;
}
.parallaxbg,.parallaxbg2,.parallaxbg3,.parallaxbg-eigine {
	width:100%;
	background-position:center;
	align-items:center;
	background-color:#000000;
	z-index:99;
}
.parallaxbg video,.parallaxbg2 img.parallax,.parallaxbg3 img.parallax ,.parallaxbg-eigine img{
	height:auto;
	width:100%;
	background-position:center;
	align-items:center;
	background-size:cover;
	background-color:none;
	position:absolute;
	display: block;
}
/* responsive */
.parallaxbg img,
.parallaxbg2 img.parallaxreponsive,
.parallaxbg3 img.parallaxreponsive,
.parallaxbg-eigine img.parallaxreponsive-eigine {
	display:none;
}
.flex-eigine ,.parallax3-flex{
	margin:20px auto 15px;
	position:absolute;
	font-size:1.0625em;
	font-family:"DinBold";
	left:60px;
	top:190px;
}

.parallaxjudul,.parallaxjudul2,.parallaxjudul3 ,.parallaxjudul-eigine{
	font-family:"DinBold";
	font-size:2.8125em;
	z-index:99;
	color:#fff;
	position:absolute;
	top:100px;
	left:60px;
	background-color:none;
}

.parallaxreview,.parallaxreview2,.parallaxreview3,.parallaxreview-eigine {
	color:white;
	position:absolute;
	font-family:"Din";
	font-size:1.25em;
	font-weight:500;
	left:60px;
	text-transform:uppercase;
	/* top:5160px;
	*/
	top:70px;
}
.isislide3,.isislide2, .isislide-eigine{
	position:absolute;
	font-size:1em;
	top:250px;
	color:#fff;
	left:60px;
	font-family:"Din";
	line-height:1.6;
	/* margin-right:825px; */
	width: 30%;	
}

.parallaxbg span,.parallaxbg2 span,.parallaxbg3 span,.parallaxbg-eigine span {
	color:#868686;
}
.table {
	margin-top:30px;
	font-family:"DinBold";
	top:170px;
	position:absolute;
	left:60px;
	border-collapse:collapse;
	border-spacing:0;
	background-color:none;
	z-index:99;width: 500px;
}
.table2,.table3, .table-eigine {
	margin-top:30px;
	font-family:"DinBold";
	top:380px;
	position:absolute;
	left:60px;
	border-collapse:collapse;
	border-spacing:0;
	background-color:none;
	z-index: 99;
    width: 500px;
}

.table-column,.table-column2,.table-column3 ,.table-column-eigine {

	padding:20px 0;
	font-style:normal;
	font-weight:normal;
	line-height:179.69%;
	color:#fff;
	background-color:none;
	border-bottom:1pt solid rgba(255,255,255,.3);
	font:600 14px/18px "Din",Arial,Verdana,sans-serif;
	z-index:99;
}

td:first-child {
	text-align:left;
	font:600 14px/18px "Din",Arial,Verdana,sans-serif;
	z-index:99;
}
td:last-child {
	text-align:right;
	font:600 16px/18px "Din",Arial,Verdana,sans-serif;
	z-index:99;
}

a.\| {
	padding: 0 5px;
}

/* Next & previous buttons */
.prev,.next {
	cursor:pointer;
	position:relative;
	top:-70px;
	width:auto;
	/* margin:0 auto;
	*/
	/* text-align: center; */
	/* font-size:50px; */
	font-weight:6px;
	color:rgb(255, 255, 255);
	font-weight:bold;
	transition:0.6s ease;
	user-select:none;
	z-index:899;
	display:block;
	text-align:center;
	font-size:  1.875em;
	padding: 0 250px;
	/* box-shadow:0 4px 8px 0 rgb(49 49 49 / 89%),0 6px 20px 0 rgb(51 51 51 / 89%); */

}
.prevnext{
	display:flex;
}
.prev:hover,.next:hover{
	font-size: 1.75em;
}
/* The dots/bullets/indicators */
.dot {
	cursor:pointer;
	height:8.5px;
	width:8.5px;
	margin:0 2px;
	background-color:#c0bdbd93;
	border-radius:50%;
	display:inline-block;
	transition:background-color 0.6s ease;
	z-index:999;
}
.containerdot {
	display:block;
	text-align:center;
	position:relative;
	bottom:100px;
}
.active-slide,.dot:hover {
	color:#ffffff;
	background-color:#ffffff;
	height:10px;
	width: 10px;
}

/* .active-slide- {
    color: white;
} */
a.off {
	color: #868686;
}
a.on {
	color: #ffffff;
}
/* nice  */
@media(max-width:1265px) {
 
}
/* /\ */
@media(max-width:1215px) {


}